/* Reset de estilo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  color: #3dc2ec;
}

/* Nuevo estilo */

body {
  background-color: #402e7a;
  color: #3dc2ec;
  flex-direction: column;
  padding: 1em;
}

/* Estilo del header */

header {
  text-align: end;
}

.navegation-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav-item {
  margin-right: 25px;
  margin-top: 8px;
}

.a-item:hover {
  transition: 0.1s;
  color: white;
  font-weight: 700;
}

/* Barra izquierda links social media y whatsapp */

.whatsapp {
  position: fixed;
  left: 25px;
  top: 20px;
}

.wh {
  width: 35px;
  height: 35px;
}

.social-media {
  display: flex;
  flex-direction: column;

  /* margin-right: 8em; */
}

.social-media-box {
  position: fixed;
  left: 25px;
  /* width: 300px; */
  bottom: 1px;
  justify-content: center;
}

.social-media-list-item {
  margin-bottom: 15px;
}

.social-media-span {
  display: flex;
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  justify-content: center;
  padding-left: 10px;
}

.logos {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.mail {
  display: flex;
}

.div-mail {
  display: flex;
}

.mailto {
  /* transform: rotate(90deg); */
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* display: inline-block; */
  position: fixed;
  right: 40px;
  bottom: 5px;
}

.mailto:hover {
  transition: 0.3s;
  color: white;
  font-size: 13px;
}

/* Estilo y deseño a la introduccion */

.introduction {
  margin-top: 8em;
  margin-left: 8em;
  margin-right: 5em;
}

.introduction-h3 {
  font-size: 44px;
  text-shadow: 2px 3px 3px #4b70f5;
}

.introduction-h1 {
  font-size: 60px;
  color: white;
  font-weight: 900;
  text-shadow: 8px 8px 6px #000000;
}

.introduction-h1:hover {
  transition: 0.3s;
  transform: scale(1.1);
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.introduction-h2 {
  font-size: 56px;
  color: #4b70f5;
  text-shadow: 1px 1px 2px white;
}

.introduction-p {
  font-size: 18px;
  padding-right: 16em;
  padding-top: 10px;
  text-align: left;
}

/* Estilo para seccion de experiencias */

.experiencias {
  display: flex;
  margin-top: 10em;
  margin-left: 8em;
  margin-right: 7em;
}

.experiencias-div {
  display: flex;
  flex-direction: column;
}

.experiencias-h1 {
  font-size: 44px;
  color: #4b70f5;
  margin-left: 3em;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
}

.experiencias-p {
  font-size: 17px;
  text-align: justify;
}

strong {
  color: white;
}

/* Estilos al footer */

footer {
  display: flex;
  margin-top: 10em;
  margin-left: 8em;
  margin-right: 7em;
  margin-bottom: 12em;
}

.footer-div {
  display: flex;
  flex-direction: column;
}

.footer-h3 {
  font-size: 44px;
  color: #4b70f5;
  margin-left: 3em;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
}

.footer-p {
  font-size: 28px;
  text-align: start;
  margin-bottom: 4em;
}

.footer-a {
  width: 300px;
  display: flex;
  background-color: #4c3bcf;
  color: #3dc2ec;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-size: 20px;
  margin: 4px 2px;
  margin-left: 12em;
}

.footer-a:hover {
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 22px;
}
